<!-- <h1 mat-dialog-title class="title-alert" style="color: #41404d; margin-bottom: 8px">
    {{ title }}
</h1>
<div mat-dialog-content>
    <p style="color: #85858e; margin-bottom: 24px" class="message-alert">
        {{ message }}
    </p>
</div>

<div mat-dialog-actions style="
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: 0 0 24px 0;
  ">
    <div>
        <button *ngIf="btnCancelText != ''" class="btn-cancel" mat-button color="primary"
            [style]="{ color: btnCancelTextColor }" style="width: 104px; height: 32px !important"
            (click)="cancelAlert()">
            {{ btnCancelText }}
        </button>

        <button mat-flat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button class="btn-text" mat-button color="primary" [style]="{ color: btnTextColor }"
            style="width: 104px; height: 32px !important" (click)="acceptAlert()">
            {{ btnText }}
        </button>
    </div>
</div> -->

<!-- <div class="confirm-dialog">
    <div class="container-dialog">
        <div class="title-dialog">{{ data.title ? data.title : "Xác nhận gửi" }}</div>
        <div class="content-dialog">
            <div class="row">
                <div class="col-12">
                    <p class="content confirm-content" [innerHtml]="data.content"></p>
                    <p class="note" *ngIf="data.note">{{ data.note }}</p>
                </div>
            </div>
        </div>
        <div class="action-dialog">
            <button class="tconnect-button tconnect-button-action cancel-button" (click)="handleCancel($event)">
                {{ data.cancelText ? data.cancelText : "Đóng" }}
            </button>
            <button class="tconnect-button tconnect-button-action accept-button" (click)="handleAccept($event)">
                {{ data.acceptText ? data.acceptText : "Áp dụng" }}
            </button>
        </div>
    </div>
</div> -->